{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-danger text-white">

        <h4>Delete Employee</h4>

    </div>

    <div class="card-body">

        <p>

            Are you sure you want to delete

            <strong>

                {{ employee.Full_Name }}

            </strong>

            ?

        </p>

        <form method="POST">

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-danger">

                Confirm Delete

            </button>

            <a href="{% url 'employee_detail' employee.pk %}"
               class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}
